@font-face {
  font-family: 'aleo';
  src: url('Aleo-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aleo';
  src: url('Aleo-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


body {
  text-align: center;
  font-family: aleo;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

@media (max-width:1024px) {
  body {
    font-size: 2em;
  }
}

body a {
  text-decoration: none;
}

header {
  text-align: left;
  background: #fafafa;
  padding: 1em 1em 0 2.5em;
}

  header h1 {
    font-weight: bold;
    text-shadow: 2px 2px #ececec;
    color: #04394b;
    margin: 0;
    padding: 0;
  }

  header span {
    background: #fed957;
    color: #04394b;
    font-weight: bold;
    padding: .25em .5em .25em .33em;
    margin: .5em .25em 1em 0;
    font-size: 0.9em;
    display: inline-block;
  }

  header a {
    display: block;
    background: #dedede;
    color: #04394b;
    font-size: 1.5em;
    float: right;
    width: 1.5em;
    height: 1.75em;
    line-height: 1.75em;
    padding: 0 .125em;
    text-align: center;
  }

  header a:hover {
    background: #d0d0d0;
    transform: scale(1.1) rotate(360deg);
    transition-duration: .2s;
  }

section {
  background: #c3e5f1;
  margin: 0 0 2em 0;
  padding: 2em;
  border-bottom: 1px solid #44707f;
  box-shadow: 0 4px 7px -5px #44707f inset;
}

  section q {
    display: inline-block;
    min-height: 4em;
    vertical-align: middle;
    quotes: "" "";
  }

  section .leftquote {
    display: block;
    padding: .125em .5em;
    font-size: 4em;
    color: #aaa;
  }

  section .rightquote {
    display: block;
    padding: .125em .5em;
    font-size: 4em;
    color: #aaa;
  }

  @media (min-width:1025px) {
    section q {
      max-width: 700px;
    }

    section .leftquote, section .rightquote {
      display: inline-block;
    }
  }

  section p.correctBanner {
    background: #84D904;
    display: inline-block;
    font-size: .95em;
    padding: .5em 2em;
    margin: 2em 0 0 0;
    border-radius: 1em;
  }

  section blockquote {
    font-size: .9em;
    margin: 2em 0 0 0;
    text-align: justify;
  }

    section blockquote h3 {
      font-weight: normal;
    }

    section blockquote p {
      margin: .5em 0;
    }

    section blockquote strong {
      font-weight: bold;
      background: #fed957;
      padding: .125em .25em 0 .25em;
      margin-left: -0.25em;
    }

button, .btn {
  margin: 2em .5em 0 0;
  padding: .5em .75em;
  background: #b7e2f2;
  color: #04394b;
  border: 1px solid #44707f;
  box-shadow: 0 0 5px -2px #44707f;
  font-size: 1em;
  display: inline-block;
  line-height: 1em;
}

button:hover, .btn:hover {
  background: #a5cedd;
}

button:active, .btn:active {
  box-shadow: 0 0 5px -0px #44707f inset;
}

.partybuttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 34.5em;
  margin-left: auto;
  margin-right: auto;
}

.partybutton {
  display: inline-block;
  border: .25em solid rgba(0, 0, 0, 0);
  transition-duration: .3s;
  cursor: pointer;
  width: 25vw;
  height: 25vw;
  max-width: 10em;
  max-height: 10em;
  margin: .5em;
  padding: 0;
}

.partybutton:hover {
  transform: scale(1.1) rotate(5deg);
  transition-duration: .2s;
}

.partybutton img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.partybutton.correct {
  border-color: green;
}

.partybutton.wrong {
  background: rgb(255, 0, 0, .5);
  border-color: red;
}

.partybutton.wrong img {
  opacity: .5;
  filter: saturate(.1);
  sfilter: ;
}

.partybutton.desaturate img {
  filter: saturate(.1);
}

footer {
  background: #ececec;
  min-height: 10em;
  margin: 2em 0 0 0;
  padding: 2em;
  text-align: left;
  font-size: .8em;
}

  footer p {
    margin: .5em 0;
  }
